<app-page-container>
    <h1 class="title">Cost-Effective Solutions for R&D in Science, Engineering, and Technology</h1>

    <hr/>

    <p>
        L-Egant Solutions (LES) sells  high-voltage
        systems, components, and diagnostics  used in fusion energy, plasma physics, pulsed-power, and other
        technology areas. Our company was founded to supply cost-effective laboratory equipment.
      We represent products manufactured by Zeonics Systech, of Bangalore India. Since
        1981 Zeonics has provided some of the highest-quality/highest-performance products available
      on the world market; LES has partnered with them since 2017.
    </p>

    <p>
        LES also sells a second-harmonic, dispersion-interferometer (SHDI) available in two
        configurations - as a 1-dimensional, line-of-sight instrument and a 2-dimensional,
        transverse-imaging instrument. The design of the SHDI is robustly stable with a
        broad range in sensitivity. It has been used to quantitatively measure density as a dispersive
        phase shift in plasma, gas, and liquids. Dispersion interferometry offers a tremendous improvement
        over conventional 2-arm interferometer methods in terms of its simplicity, performance, and cost.
      Please refer to the several published papers on these instruments referenced on the Diagnostics page.
    </p>

    <p>
        My personal background is in plasma physics related to fusion energy, with an emphasis
        on experimental & computational methods. You can check out our team's latest pursuit <a href="https://www.safenergy.earth/" target="_blank">here</a>.
        As always, it will be a pleasure to provide you with the highest level of support for your research needs.
    </p>

    <p>Best wishes for your success,</p>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="signature">Frank J Wessel</div>
        <div class="col-sm-4 image-container">
            <img src="images/fw2.png"/>
        </div>
    </div>

</app-page-container>
