<app-page-container>
    <h1 class="title">High Power Switches, Spark Gaps, Rail Gaps</h1>

    <p class="downloads">
        Downloads:
        <br/>
        <a href="pdfs/sparkgap.pdf" target="_blank">Sparkgap Brochure</a>
        <br/>
        <a href="pdfs/railgap.pdf" target="_blank">Railgap Brochure</a>
        <br/>
        <a href="pdfs/2024-Zeonics-Systech-Catalog.pdf" target="_blank">Complete Product Catalog</a>
    </p>

    <hr/>

    <p>JUMP TO:</p>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-1')">HV Spark Gap SBV 60kV-120kV</a>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-2')">HV 10kV – 50kV DC Rail Gap</a>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-3')">HV High Current Spark Gaps ~400kA</a>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-4')">Variable Voltage 2 Terminal Spark Gaps</a>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-5')">HV Nuclear Hardened Spark Gap Switches</a>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-6')">Hydrogen Gas Based Trigatron Switches</a>
    <a class="jump-link" (click)="this.navService.jumpTo('switches-7')">Field Distortion Spark Gaps</a>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-1">
        <h2 top>HV Spark Gap SBV 60kV-120kV</h2>
        <div center>
            <img src="images/switches_item1.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-2">
        <h2 top>HV 10kV – 50kV DC Rail Gap</h2>
        <div center>
            <img src="images/switches_item2.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-3">
        <h2 top>HV High Current Spark Gaps ~400kA</h2>
        <div center>
            <img src="images/switches_item3.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-4">
        <h2 top>Variable Voltage 2 Terminal Spark Gaps</h2>
        <div center>
            <img src="images/switches_item4.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-5">
        <h2 top>HV Nuclear Hardened Spark Gap Switches</h2>
        <div center>
            <img src="images/switches_item5.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-6">
        <h2 top>Hydrogen Gas Based Trigatron Switches</h2>
        <div center>
            <img src="images/switches_item6.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="switches-7">
        <h2 top>Field Distortion Spark Gaps</h2>
        <div center>
            <img src="images/switches_item7.png"/>
        </div>
    </app-showcase>

    <hr/>
    
</app-page-container>