<app-page-container>
    <h1 class="title">Pulse/Trigger Transformers</h1>

    <p class="downloads">
        Downloads:
        <br/>
        <a href="pdfs/transformers.pdf" target="_blank">Pulse & Trigger Transformers</a>
        <br/>
        <a href="pdfs/2024-Zeonics-Systech-Catalog.pdf" target="_blank">Complete Product Catalog</a>
    </p>

    <hr/>

    <p>JUMP TO:</p>
    <a class="jump-link" (click)="this.navService.jumpTo('transformers-1')">100X Step-Up Pulse Transformer to 60kV</a>
    <a class="jump-link" (click)="this.navService.jumpTo('transformers-2')">37.5X Step-Up Pulse Transformer to 15kV</a>
    <a class="jump-link" (click)="this.navService.jumpTo('transformers-3')">200X Step-Up Nuclear Hardened Pulse Transformer to 120kV</a>
    <a class="jump-link" (click)="this.navService.jumpTo('transformers-4')">90X Step-Up Ferrite Based Pulse Transformer to 80kV</a>

    <hr/>

    <app-showcase class="showcase-list-item" id="transformers-1">
        <h2 top>100X Step-Up Pulse Transformer to 60kV</h2>
        <div center>
            <img src="images/transformers_item1.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="transformers-2">
        <h2 top>37.5X Step-Up Pulse Transformer to 15kV</h2>
        <div center>
            <img src="images/transformers_item2.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="transformers-3">
        <h2 top>200X Step-Up Nuclear Hardened Pulse Transformer to 120kV</h2>
        <div center>
            <img src="images/transformers_item3.png"/>
        </div>
    </app-showcase>

    <hr/>

    <app-showcase class="showcase-list-item" id="transformers-4">
        <h2 top>90X Step-Up Ferrite Based Pulse Transformer to 80kV</h2>
        <div center>
            <img src="images/transformers_item4.png"/>
        </div>
    </app-showcase>

    <hr/>
    
</app-page-container>